// Components
// .Button
// .List
// .Notice
// .Pill
// .Tag
.Box {
  border: 1px solid $buttonTextColor;
  border: 1px solid var(--buttonTextColor);
  margin-bottom: rem(0.5);
  padding: rem(1);
  display: block;
  width: 100%;
}

.Button {
  /* Base styles already in Grove CMS */
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}

%Button {
  border: 1px solid $buttonTextColor;
  border: 1px solid var(--buttonTextColor);
  cursor: pointer;
  display: block;
  font-family: $secondaryHeadlineFont;
  font-family: var(--secondaryHeadlineFont);
  font-size: $label-4;
  font-size: var(--label-4);
  font-weight: 700;
  padding: rem(0.667) 0;
  text-align: center;
  width: 100%;
  max-width: 280px;
}
a%Button:hover {
  border-color: $primaryTextColor;
  border-color: var(--primaryTextColor);
  text-decoration-color: $primaryTextColor;
  text-decoration-color: var(--primaryTextColor);
}

.Button\(default\) {
  @extend %Button;
  background-color: $secondaryColor3;
  background-color: var(--secondaryColor3);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}
a.Button\(default\):hover {
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}

.Button\(primary\) {
  @extend %Button;
  background-color: $primaryColor2;
  background-color: var(--primaryColor2);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Button\(primary\):hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}

.Button\(breaking\) {
  @extend %Button;
  background-color: $breakingColor;
  background-color: var(--breakingColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Button\(breaking\):hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}

.Button\(info\) {
  @extend %Button;
  background-color: $tagButtonBorderColor;
  background-color: var(--tagButtonBorderColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Button\(info\):hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}

.Button\(black\) {
  @extend %Button;
  background-color: $primaryTextColor;
  background-color: var(--primaryTextColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Button\(black\):hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
  border-color: $primaryTextColorInverse;
  border-color: var(--primaryTextColorInverse);
  text-decoration-color: $primaryTextColorInverse;
  text-decoration-color: var(--primaryTextColorInverse);
}

.Button\(white\) {
  @extend %Button;
  background-color: $primaryTextColorInverse;
  background-color: var(--primaryTextColorInverse);
  border: 1px solid $secondaryColor2;
  border: 1px solid var(--secondaryColor2);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}
a.Button\(white\):hover {
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}


.List {
  padding: 0;
}

.List, .List ul, .List ol {
  list-style-type: none;
  line-height: 1.18;
  font-size: rem(1);
  margin-left: 0;
}

.List > li {
  border-bottom: 1px solid $headerBorderColor;
  border-bottom: 1px solid var(--headerBorderColor);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
  font-family: $bodyFont;
  font-family: var(--bodyFont);
  font-weight: 500;
  letter-spacing: 1px;
  padding: rem(1) 0 rem(1) rem(1.667);
}
.List.reset > li {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.List ol > li, .List ul > li {
  color: $headerMenuTextColor;
  color: var(--headerMenuTextColor);
  padding: rem(0.5) rem(1.667);
}

ol.List {
  counter-reset: List;
}

ol.List > li {
  counter-increment: List;
  padding-left: rem(3);
}

ol.List > li::before {
  content: counter(List);
  font-size: rem(1.25);
  font-weight: 900;
  margin-top: -2px;
  margin-left: rem(-1.5);
  position: absolute;
}



// NOTICE

%Notice {
  margin: rem(2.5) 0;
  padding: rem(4);
}

.Notice,
.Notice\(default\) {
  @extend %Notice;
  background-color: $secondaryColor3;
  background-color: var(--secondaryColor3);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}
.Notice\(primary\) {
  @extend %Notice;
  background-color: $primaryColor2;
  background-color: var(--primaryColor2);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
.Notice\(breaking\) {
  @extend %Notice;
  background-color: $breakingColor;
  background-color: var(--breakingColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
.Notice\(info\) {
  @extend %Notice;
  background-color: $tagButtonBorderColor;
  background-color: var(--tagButtonBorderColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
.Notice\(black\) {
  @extend %Notice;
  background-color: $primaryTextColor;
  background-color: var(--primaryTextColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
.Notice\(white\) {
  @extend %Notice;
  background-color: $primaryTextColorInverse;
  background-color: var(--primaryTextColorInverse);
  border: 1px solid $secondaryColor2;
  border: 1px solid var(--secondaryColor2);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}


// PILL
%Pill {
  border-radius: rem(1.5);
  cursor: pointer;
  display: inline-block;
  font-family: $bodyFont;
  font-family: var(--bodyFont);
  font-size: rem(1);
  font-weight: 700;
  margin-bottom: rem(0.5);
  padding: rem(1) rem(2);
  text-transform: uppercase;
}
a%Pill:hover {
  opacity: 0.4;
}

.Pill {
  @extend %Pill;
  background-color: $primaryColor1;
  background-color: var(--primaryColor1);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Pill:hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}

.Pill\(default\) {
  @extend %Pill;
  background-color: $secondaryColor3;
  background-color: var(--secondaryColor3);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}
a.Pill\(default\):hover {
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}

.Pill\(primary\) {
  @extend %Pill;
  background-color: $primaryColor2;
  background-color: var(--primaryColor2);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Pill\(primary\):hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}

.Pill\(breaking\) {
  @extend %Pill;
  background-color: $breakingColor;
  background-color: var(--breakingColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Pill\(breaking\):hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}

.Pill\(info\) {
  @extend %Pill;
  background-color: $tagButtonBorderColor;
  background-color: var(--tagButtonBorderColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Pill\(info\):hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}

.Pill\(black\) {
  @extend %Pill;
  background-color: $primaryTextColor;
  background-color: var(--primaryTextColor);
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}
a.Pill\(black\):hover {
  color: $primaryTextColorInverse;
  color: var(--primaryTextColorInverse);
}

.Pill\(white\) {
  @extend %Pill;
  background-color: $primaryTextColorInverse;
  background-color: var(--primaryTextColorInverse);
  border: 1px solid $secondaryColor2;
  border: 1px solid var(--secondaryColor2);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}
a.Pill\(white\):hover {
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}


// TAG

%Tag {
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-family: $primaryHeadlineFont;
  font-family: var(--primaryHeadlineFont);
  font-size: $label-3;
  font-size: var(--label-3);
  line-height: 1.18;
  text-align: center;
  transition:
    color 0.25s,
    background 0.25s,
    border 0.25s;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: rem(0.667);
  margin-bottom: rem(0.5);
  padding: rem(0.5) rem(1.5);
  word-break: keep-all;
}

a%Tag:hover {
  border-color: $primaryColor1;
  border-color: var(--primaryColor1);
}

.Tag {
  @extend %Tag;
  border-color: $tagButtonBorderColor;
  border-color: var(--tagButtonBorderColor);
  color: $tagButtonTextColor;
  color: var(--tagButtonTextColor);
}
a.Tag:hover {
  color: $tagButtonTextColor;
  color: var(--tagButtonTextColor);
}

.Tag\(default\) {
  @extend %Tag;
  border-color: $secondaryColor1;
  border-color: var(--secondaryColor1);
  color: $secondaryColor1;
  color: var(--secondaryColor1);
}
a.Tag\(default\):hover {
  color: $secondaryColor1;
  color: var(--secondaryColor1);
}

.Tag\(primary\) {
  @extend %Tag;
  border-color: $primaryColor2;
  border-color: var(--primaryColor2);
  color: $primaryColor2;
  color: var(--primaryColor2);
}
a.Tag\(primary\):hover {
  color: $primaryColor2;
  color: var(--primaryColor2);
}

.Tag\(breaking\) {
  @extend %Tag;
  border-color: $breakingColor;
  border-color: var(--breakingColor);
  color: $breakingColor;
  color: var(--breakingColor);
}
a.Tag\(breaking\):hover {
  color: $breakingColor;
  color: var(--breakingColor);
}

.Tag\(info\) {
  @extend %Tag;
  border-color: $tagButtonBorderColor;
  border-color: var(--tagButtonBorderColor);
  color: $tagButtonBorderColor;
  color: var(--tagButtonBorderColor);
}
a.Tag\(info\):hover {
  color: $tagButtonBorderColor;
  color: var(--tagButtonBorderColor);
}

.Tag\(black\) {
  @extend %Tag;
  border-color: $primaryTextColor;
  border-color: var(--primaryTextColor);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}
a.Tag\(black\):hover {
  border-color: $tagButtonBorderColor;
  border-color: var(--tagButtonBorderColor);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}

.Tag\(white\) {
  @extend %Tag;
  border-color: $secondaryColor2;
  border-color: var(--secondaryColor2);
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}
a.Tag\(white\):hover {
  color: $primaryTextColor;
  color: var(--primaryTextColor);
}
